[submodule "ext/libminecraft-file"]
	path = ext/libminecraft-file
	url = https://github.com/kbinani/libminecraft-file.git
[submodule "ext/colormap-shaders"]
	path = ext/colormap-shaders
	url = https://github.com/kbinani/colormap-shaders.git
[submodule "ext/JUCE"]
	path = ext/JUCE
	url = https://github.com/kbinani/JUCE.git
